@font-face {
    font-family: RDRLino;
    src: url("../fonts/Redemption.ttf");
}

* {
	font-family: RDRLino, sans-serif;
}

.voiceInfo{
	position:fixed;
	text-align:right;
	top:15px;
	background-color: #000;
	right:30px;
	font-size:20px;
	line-height: 30px;
	font-weight:900;
	color:rgba(255, 255, 255, 0.7);
	text-shadow: 2px 2px 4px 4px #000;
}
.talking{
	color:rgb(255, 255, 255) !important;
}
p{
	margin:0
}

.Whisper {
    border-radius: 5px;
    border: 3px solid #11a111;
}

.Whisper:after {
	color: #11a111;
	content:"\1F568";
    width:16px;
    height:16px;
	margin: 0 10px 0 10px;
    display:inline-block;
}

.Normal {
    border-radius: 5px;
    border: 3px solid #3b3bdf;
}

.Normal:after {
	color: #3b3bdf;
	content:"\1F569";
    width:16px;
    height:16px;
	margin: 0 10px 0 10px;
    display:inline-block;
}

.Shouting {
    border-radius: 5px;
    border: 3px solid #df3f00;
}

.Shouting:after {
	color: #df3f00;
	content:"\1F56A";
    width:16px;
    height:16px;
	margin: 0 10px 0 10px;
    display:inline-block;
}
